@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #23252c;
  height: 100vh;
  display: grid;
  place-content: center;
  padding-top: 20rem;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #1a1b21;
  max-width: 40rem;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 3.2rem;
}
.img {
  width: 100%;
  object-fit: fill;
  filter: grayscale(1);
  opacity: 0.9;
  filter: saturate(0%);
}
.details {
  text-align: center;
  padding: 2.4rem;
}
.name {
  font-size: 3.2rem;
  color: #fff;
}
.job {
  font-size: 1.6rem;
  color: #f3bf99;
}
.website:link,
.website:visited {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.8;
  font-weight: 400;
}
.buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 2rem 0;
}
.contact-links:link,
.contact-links:visited {
  font-size: 1.6rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
  text-decoration: none;
  padding: 0.4rem 1.6rem;
  border-radius: 4px;
}
.email:link,
.email:visited {
  background-color: #fff;
  color: #000;
}
.email:hover,
.email:active {
  background-color: #e6e6e6;
}
.linkedin:link,
.linkedin:visited {
  background-color: #5093e2;
  color: #fff;
  transition: all 0.4s;
}
.linkedin:hover,
.linkedin:active {
  background-color: #4884cb;
}
.icon {
  font-size: 2rem;
}
.icon-email {
  color: #000;
}
.icon-linkedin {
  color: #fff;
}
.description {
  color: #fff;
  text-align: start;
}
.about {
  margin-bottom: 1.6rem;
}
.subheading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.text {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6;
}

.links {
  background-color: #161619;
  padding: 1.6rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}
.link-icons {
  color: #918e9b;
  font-size: 3.2rem;
  transition: all 0.4s;
}
.link-icons:hover {
  color: #fff;
}
