@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300,400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  display: grid;
  place-content: center;
  /* height: 100vh; */
}
.grey-color {
  color: #918e9b;
}
.container {
  width: 55rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  overflow: hidden;
  /* padding-bottom: 3.2rem; */
  margin: 2.4rem 0;
  /* margin-bottom: 2.4rem; */
}
.header {
  padding: 2.4rem 3.2rem;
  box-shadow: 0 0.1rem 1rem 0.1rem rgba(0, 0, 0, 0.1);
}
.section-hero {
  margin: 4.8rem;
}
.hero-imgs {
  margin-bottom: 3.2rem;
}
.imgs {
  width: 100%;
}

.heading-primary {
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.text {
  font-size: 1.6rem;
  font-weight: 300;
  width: 80%;
}

/* **************** */

.card {
  margin: 4.8rem;
}
.card-img-box {
  max-width: 22rem;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 1.2rem;
  box-shadow: 0 0.2rem 2rem rgba(0, 0, 0, 0.3);

  display: flex;
}
.card-img {
  width: 100%;
}
.card-stats {
  font-size: 1.6rem;
  font-weight: 300;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.card-star {
  width: 1.8rem;
}
.card-text,
.card-price {
  font-size: 1.6rem;
  margin-top: 0.8rem;
  font-weight: 300;
}
